<!DOCTYPE html>
<html>
	<body>
		<script id="tmplFeatures" type="text/html">
	    	<div class="btn-group dropup">
			  <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"></a>
			  <ul class="dropdown-menu mapclear toggleLayer" onselectstart="return false">
			      <li class="toggleLayer toggledOn" data-set="Trails">
			      	<span class="color-key" style="background-color:#0F8240;"></span>
			      	<i style="background-image:url(img/hiker.png);"></i> 
		      		Greenways
		      		<div class="make-switch switch-mini" data-animated="true" data-on="info" data-off="default"><input type="checkbox" checked="checked" /></div>
			      </li>
			      <li class="toggleLayer toggledOn" data-set="BikePaths">
			      	<span class="color-key" style="background-color:#ED1C24;"></span>
			      	<i style="background-image:url(img/biker.png);"></i> 
		      		Bike Paths
		      		<div class="make-switch switch-mini" data-animated="true" data-on="info" data-off="default"><input type="checkbox" checked="checked" /></div>
			      </li>
			      <!--
			      <li class="toggleLayer toggledOn" data-set="Sidewalks">
			      	<span class="color-key" style="background-color:#999;"></span>
			      	<i style="background-image:url(img/walker.png);"></i> 
		      		Sidewalks
		      		<div class="make-switch switch-mini" data-animated="true" data-on="info" data-off="default"><input type="checkbox" disabled="disabled" /></div>
			      </li> -->
			      <li class="toggleLayer toggledOn" data-set="Parks">
			      	<span class="color-key" style="background-color:#9CCC8E;"></span>
			      	<i style="background-image:url(img/playground.png);"></i> 
		      		Parks
		      		<div class="make-switch switch-mini" data-animated="true" data-on="info" data-off="default"><input type="checkbox" checked="checked" /></div>
			      </li>
			  </ul>
			</div>
		</script>
	</body>
</html>
