@{
    ViewBag.Title = "Find Provider";
}

<h2>Find A Provider</h2>

<div>
    <iframe width="1024" title="VA Locations" height="640" 
        src="https://datastaff.demo.socrata.com/w/sw5n-9isb/?cur=gouxD9akHv1&from=root" frameborder="0" scrolling="no">
        <a href="https://datastaff.demo.socrata.com/w/sw5n-9isb/?cur=gouxD9akHv1&from=root" title="VA Locations" target="_blank">VA Locations</a>

    </iframe><p><a href="http://www.socrata.com/" target="_blank">
        Powered by Socrata</a></p>

</div>

